handlers = java.util.logging.FileHandler

java.util.logging.FileHandler.level = SEVERE
java.util.logging.FileHandler.append = true
java.util.logging.FileHandler.pattern = log.txt
java.util.logging.FileHandler.formatter = java.util.logging.SimpleFormatter
java.util.logging.SimpleFormatter.format = [%1$tF] [%4$-7s] %5$s %n